@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --bg-color: #0f090b;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #C39B71; /* Dourado */
    --gradient-bg: linear-gradient(to bottom, #1a1a1a, #000);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;
}

body {
    background: var(--gradient-bg);
    background-attachment: fixed;
    color: var(--text-color);
    width: 100%;
}

/* Utilitários */
.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 3rem;
}
span { color: var(--main-color); }

/* Scrollbar */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: var(--bg-color); }
::-webkit-scrollbar-thumb { background: var(--main-color); border-radius: 5px; }
